*~
\#*\#

.repl-*
.nrepl-*

.lein-*
*.gcode
*.scad
/target
*-fixed.stl
*.dxf
*.ai
*.svg
temp
things/all-1u-fixed-hp3d.stl
things/all-1u-fixed-weerg.stl
things/all-1u-fixed1.stl
things/all-1u-fixed2.stl
things/usb-holders-fixed-elitepi.stl
